@import "@orderly.network/ui/dist/styles.css";
@import "../styles/theme.css";
@import "../styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide trading rewards on mobile */
.oui-box.oui-flex.oui-flex-nowrap > div:nth-child(2).oui-box.oui-flex.oui-justify-start.oui-flex-nowrap.oui-relative {
  display: none;
}

/* hide entire footer bar */
.oui-scaffold-footer {
  display: none !important;
}

/* hide announcement banner (listings/delistings) */
.oui-scaffold-container > .oui-box.oui-px-2 > div.oui-relative.oui-z-\[1\] {
  display: none !important;
}
